:root{
  --bg:#E2DFFE;
  --step:#7B64D9;
  --progress-bg:#3D4759;
  --progress-bg-faint:rgba(226,223,254,.15);
  --text:#3D4759;
  --text-muted:#6D66A0;
  --border:#6D66A0;
  --button:#483B6D;
  --white:#FDFCFE;
  --radius:10px;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0
}

body{
  font-family:'Inter',sans-serif;
  color:var(--text);
  background:var(--bg);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  width:100%;
  max-width:1440px;
  height:1024px;
  padding:217px 228px 271px 229px;
  display:flex;
  justify-content:center;
  align-items:flex-start;
}

.card{
  display:flex;
  width:983px;
  height:536px;
  padding:44px 73px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:49px;
  flex-shrink:0;
  border-radius:25px;
  background:#FDFCFE;
  box-shadow:0 4px 20px rgba(0,0,0,.05);
}

.header,
.progress{ width:100%; }   

.header{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.title{
  color: #3D4759;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

.step{
  color: var(--step);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.2px;
}

.progress{
  height:10px;
  background:var(--progress-bg);
  border-radius:4px;
  position:relative;
  overflow:hidden;
}
.progress::before{
  content:"";
  position:absolute;inset:0;
  background:var(--progress-bg-faint);
}
.progress__bar{
  height:100%;
  background:var(--step);
  transition: width .6s ease;
}

.form{ 
  display:flex; 
  flex-direction:column; 
  gap:20px 
}
.field{ 
  
  display:flex; 
  flex-direction:column; 
  gap:6px 
}
.field span{ 
  font-size:14px; 
  color:var(--text-muted); 
  font-weight:600 
}
.field input{
  width:650px; 
  height: 65px;
  padding:12px 16px; 
  font-size:16px;
  border:2.5px solid #6D66A0;; 
  background: rgba(226, 223, 254, 0.15);
  border-radius:4px;
  outline:none; color:var(--text)
}
.field input:focus{ 
  border-color:var(--step); 
  box-shadow:0 0 0 3px rgba(123,100,217,.2) 
}

.actions{ 
  display:flex; 
  justify-content:flex-end 
}

button{
  width: 204px;
  height: 59px;
  background:var(--button); 
  color:#fff; 
  font-size:14px; 
  font-weight:600;
  padding:12px 24px; 
  border:0; 
  border-radius:4px; 
  cursor:pointer; 
  transition:background .2s
}
button:hover{ background:#3E3260 }
